body{
cursor: crosshair,auto;
}

body{
    background-color: #021603;
}
.nav-links { 
    margin: 0;
    background-color:blanchedalmond;
    text-decoration: none;
    font-size: 20px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.nav-links a {
    text-decoration: none;
    color:rgb(0, 42, 0);
    padding:10px;
    margin:0;
}

.nav-links a.active {
    color:antiquewhite;
    background-color:darkolivegreen;
}

.nav-links a:hover:hover:not(.active) {
    background-color: #bfae91;
    color:blanchedalmond;
}



h1{
   font-size: 100px; 
   text-align:center;
   margin-top: 20vh;
   font-family: 'Brush script MT', cursive;
   color: blanchedalmond;
}

.background {
    background-image:url("../images/beautiful-scenery-trees-with-lake.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    position: relative;
}

.background::before {
    content:"";
    position: absolute;
    top:0; left:0;
    width:100%; height:100%;
    background-color:rgba(255,255,255,0.4);
    z-index:1;
}

h1{
    font-size: 100px;
    text-align:center;
    z-index:2;
    position: relative;
    color:blanchedalmond;
}

.content {
    text-align:center;
    z-index: 2;
    position:relative;
}

.subtitle{
font-size: 30px;
color:rgb(12, 26, 1);
font-family: 'Dancing Script',cursive;
margin-top: 10px;
}